@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Set core root defaults */
html {
    scroll-behavior: smooth;
    overflow: auto; /* super important to scroll on your page */
}
body{
    height: auto;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;

}
/* header section donc pas touche pour le moemtn*/

.header{
    background-color: #1f2937 ;
    color: white;
    padding: 8px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.headerDown{
    display: flex;
    max-width: 800px;
    margin-top: 50px;
    flex: 1;
    gap: 3em;
    box-sizing: border-box;
}
h2{
    font-size: 32px;
    font-weight: bold;
}
h2 , p{
    text-wrap: wrap;
    margin: 0;
}
.website{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.placeholder{
    background-color: #a6adbb;
    width: 400px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerUp{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 2em;
    width: 800px;
    align-items: flex-start;
    /
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
ul{
    display: flex;
    list-style: none;
    color: white;
    gap: 1em;
}
a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: #1f2937 ;
    color: white;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.signup{
     min-width: 50x;
     padding: 5px;
    height: 15px;
    border-radius: 4px;
    border: 0;
    color: white;
    background-color: #3882f6;
    flex-grow : 0;
    align-self: flex-start;
    box-sizing: content-box;
}


/* section information*/

.information{
    display: flex;
    flex-direction: column;
    padding:  8px 50px 50px 50px;
    align-items: center;

}
.container{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 4em;

}
.box{
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}
.info{
    width: 150px;
    text-align: center;
}

/* text section */

.textSection{
    background-color: #a6adbb;
    height: 200px;
    padding: 150px 200px 150px 200px;
}
.text > p{
    font-size: 36px;
}
.text{
    display: flex;
    flex-direction: column;
}
.text h3{
    font-size: 24px;
    font-weight: bold;
        align-self: flex-end;
}

  
  /* sing up section */
  
  .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
  }
  
  .popup {
  
    display: flex;
    padding: 15px;
    border: 0 solid;
    border-radius: 15px;
    background-color: #3882f6;
    color: white;
    gap: 2em;
  
  }
  
  button.signin {
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-end;
    width: 150px;
  
  }
  .popup  h1{
    color: white;
  }